.zoomIn{
    animation: zoomIn .2s;
}


@keyframes zoomIn {
    0%{
        transform: scale(0.95);
        opacity: 0;
    }
   100%{
        transform: scale(1);
        opacity: 1;
   }  
}

.shimmer{
    border: 1px solid #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;

    .shimmerBG {
        animation-duration: 2.2s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: shimmer;
        animation-timing-function: linear;
        background: #ddd;
        background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
        background-size: 1200px 100%;
    }
}

.title-line {
    height: 10px;
    margin-bottom: 8px;
    border-radius: 0px;
}
@-webkit-keyframes shimmer {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

@keyframes shimmer {
    0% {
        background-position: -1200px 0;
    }
    100% {
        background-position: 1200px 0;
    }
}